* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.board-row {
  display: flex;
}

.square {
    color: #000;
    background: #fff;
    border: 10px solid #0000;
    border-image: url("../media/border.bdb26421.png") 40;
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-weight: 700;
}

.square {
  color: #000;
  background: #fff;
  border: 10px solid transparent;
  border-image: url(../component/img/border.png) 40 stretch;
  width: 100px;
  height: 100px;
}

.winner {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.game-bg {
  background: #a0a0a0;
  padding: 40px;
  border-radius: 20px;
}

.game {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.board {
  box-shadow: 0px 1px 22px 20px #7d7d7d;
}